{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Sixteen Clothing HTML Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/books_list.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->

    <link rel="{% static 'stylesheet" href="css/fontawesome.css' %}">
    <link rel="{% static 'stylesheet" href="css/templatemo-sixteen.css' %}">
    <link rel="{% static 'stylesheet" href="css/owl.css' %}">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#"><h2>Book <em>Management</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              
            </ul>
          </div>
        </div>
      </nav>
    </header>

<div class="latest-products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Latest Books</h2>
          <a href="#">view all Books <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      {% for Book in object_list %}
    
          <div class="col-md-4">
            <div class="product-item">
              <img src="Books_img/{{Book.Images}}" alt="{{Book.Book_name}}" width="370" height="470">
              <div class="down-content">
                <a href="#"><h4>{{Book.Book_name}}</h4></a>
                <h6>By{{Book.Author_name}}</h6>
                <p>{{Book.Discription}}</p>

                <span>BOOKS</span>
              </div>
            </div>
          </div>
        {% endfor %}  
          
<footer>
  <div class="contain12">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-content">
          <p>Copyright &copy; 2020 Books management Co., Ltd.
        
        - Design: <a rel="nofollow noopener" href="#" target="_blank">Saurabh Belote</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>


    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>
  <style>
    .contain12 {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #4da6ff;
      color: white;
      text-align: center;
    }
    </style>


</html>
